name: Get Citation Data

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

concurrency:
  group: get-citation-data
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Reqs
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-setuptools

      - name: Run crawler
        run: |
          cd ./google_scholar_crawler
          pip3 install -r requirements.txt
          python3 main.py
          cd ./results
          git init
          git config --local user.name "${{ github.actor }}"
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          remote_repo="https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
          git add *.json
          git status --short
          git diff --staged --quiet || git commit -m "Updated Citation Data"
          git push "${remote_repo}" HEAD:google-scholar-stats --force
        env:
          GOOGLE_SCHOLAR_ID: ${{ secrets.GOOGLE_SCHOLAR_ID }}
